html{
    height: 3000px;   
}

body{
    min-height: 100%;
    margin: 0;
    overflow: hidden;
    background: url("../images/txtr.png") repeat;
}

#controlsContainer {
    position: fixed;
    top:10px;
    left:10px;
    width: 310px;
    height: auto;
    color: black;
    z-index: 99;
    font-family: "Times New Roman", Times, serif; 
    }

#controlsPlaceHolder{
    text-align: center;
    height: 24px;
}

#game{
    width: 100%;
}

#controlsPlaceHolder span{
    border-radius: inherit;
    background: #36c7d1;
    padding: 2px;
    display: block;
    margin: 2px;
}

#statisticsContainer{
    position: fixed;
    top:10px;
    right:10px;
    width: 310px;
    background: #7d3846;
    border-radius: 5px;
    padding: 5px;
}

#statisticsContainer div{
    margin: 4px auto;
    width: 290px;
    padding: 4px;
    border-radius: inherit;
    background: #36c7d1;
}